{% extends 'sluggers/base.html' %}
{% block content %}
<div class="card shadow p-4 border rounded-corner mt-5">
    <h1>Match Creation</h1>
    {% if form.errors %}
    {% endif %}
  
    <form method="post" action="{% url 'profile:create' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="agegroup">Age Group</label>
            <select class="form-control" id="agegroup">
              <option>Majors</option>
              <option>Minors</option>
            </select>
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label for="home_team">Home Team</label>
                <select class="form-control" id="home_team" name="home_team">
                    <option>Washington Nationals</option>
                    <option>LA Dodgers</option>
                </select>
            </div>
            <div class="col form-group">
                <label for="away_team">Home Team</label>
                <select class="form-control" id="away_team" name="away_team">
                    <option>Washington Nationals</option>
                    <option>LA Dodgers</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="game_date">Game Date and Time</label>
            <input type="datetime-local" class="form-control" id="game_date" aria-describedby="game_date" name="game_date">
        </div>
        <div class="form-group">
            <label for="field">Field</label>
            <select class="form-control" id="field">
              <option>Bird North</option>
              <option>Bird South</option>
            </select>
        </div>
        <input type="submit" value="Create" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}