{% extends 'sluggers/base.html' %}

{% block content %}
<div class="card shadow p-4 border rounded-corner mt-5">
    <div class="row mx-0">
        <div class="col-6 text-center">
            <a href="#" class="text-decoration-none"><h1>Nationals</h1></a>
            <h3>3</h3>
        </div>
        <div class="col-6 text-center">
            <a href="#" class="text-decoration-none"><h1>Dodgers</h1></a>
            <h3>6</h3>
        </div>
    </div>
    
    <ul class="nav nav-pills nav-fill mt-3">
        <li class="nav-item"><a class="nav-link active rounded-corner" data-toggle="tab" href="#info">Game Info</a></li>
        <li class="nav-item"><a class="nav-link rounded-corner" data-toggle="tab" href="#boxscore">Box Score</a></li>
    </ul>
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="info">
            <div class="card shadow p-3 border rounded-corner">
                <h4>Game Date</h4>
                <hr class="mt-0">
                <p>
                    Saturday, September 14th<br>
                    2:00 PM
                </p>
                <br>
                <h4>Field</h4>
                <hr class="mt-0">
                <p>Bird North</p>
            </div>
        </div> 
        <div class="tab-pane fade" id="boxscore">
            <div class="card shadow p-3 border rounded-corner">
                <table class="table table-bordered">
                    <thead class="table-active">
                            <th scope="col">&nbsp;</th>
                            <th scope="col">1</th>
                            <th scope="col">2</th>
                            <th scope="col">3</th>
                            <th scope="col">4</th>
                            <th scope="col">5</th>
                            <th scope="col">6</th>
                            <th scope="col">7</th>
                            <th scope="col">8</th>
                            <th scope="col">9</th>
                            <th scope="col">R</th>
                            <th scope="col">H</th>
                            <th scope="col">E</th>
                    </thead>
                    <tr>
                        <th scope="row">Washington Nationals</th>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td class="font-weight-bold">3</td>
                        <td class="font-weight-bold">8</td>
                        <td class="font-weight-bold">1</td>
                    </tr>
                    <tr>
                        <th scope="row">LA Dodgers</th>
                        <td>0</td>
                        <td>0</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>4</td>
                        <td class="font-weight-bold">6</td>
                        <td class="font-weight-bold">12</td>
                        <td class="font-weight-bold">0</td>
                    </tr>
                </table>
            </div>
        </div> 
    </div>
</div>
{% endblock %}