{% extends 'sluggers/base.html' %}

{% block content %}
<div class="card shadow p-4 border rounded-corner mt-5">
    <div class="d-flex flex-horizontal justify-content-between align-items-center">
        <h1>Match Info</h1>
        {% if user.is_authenticated %}<a class="btn btn-primary rounded-corner" href="{% url 'match:edit' match.match_id %}">Edit <i class="fa fa-pencil"></i></a>{% endif %}
    </div>  
    <div class="row mx-0">
        <div class="col-6 text-center">
            <a href="{% url 'team:view' match.home_team.team_id %}" class="text-decoration-none"><h1>{{ match.home_team.team_name }}</h1></a>
            <h3>{% if match.inning_set %}{{ match.home_score }}{% else %}-{% endif %}</h3>
        </div>
        <div class="col-6 text-center">
            <a href="{% url 'team:view' match.away_team.team_id %}" class="text-decoration-none"><h1>{{ match.away_team.team_name }}</h1></a>
            <h3>{% if match.inning_set %}{{ match.away_score }}{% else %}-{% endif %}</h3>
        </div>
    </div>
    
    <ul class="nav nav-pills nav-fill mt-3">
        <li class="nav-item"><a class="nav-link active rounded-corner" data-toggle="tab" href="#info">Game Info</a></li>
        <li class="nav-item"><a class="nav-link rounded-corner" data-toggle="tab" href="#boxscore">Box Score</a></li>
    </ul>
    <div class="tab-content mt-3">
        <div class="tab-pane fade show active" id="info">
            <div class="card shadow p-3 border rounded-corner">
                <h4>Game Date</h4>
                <hr class="mt-0 mb-1">
                <p>
                    {{ match.match_date }}
                </p>
                <br>
                <h4>Field</h4>
                <hr class="mt-0 mb-1">
                <p>Bird North</p>
            </div>
        </div> 
        <div class="tab-pane fade" id="boxscore">
            <div class="card shadow p-3 border rounded-corner">
                <table class="table table-bordered center-justify">
                    <thead class="table-active">
                            <th scope="col">&nbsp;</th>
                            {% for inning in match.inning_set.all %}
                                <th scope="col">{{ forloop.counter }}</th>
                            {% endfor %}
                            <th scope="col">R</th>
                            <th scope="col">H</th>
                            <th scope="col">E</th>
                    </thead>
                    <tr>
                        <th scope="row">{{ match.home_team.team_name }}</th>
                        {% for inning in match.inning_set.all %}
                            <td>{{ inning.home_runs }}</td>
                        {% endfor %}
                        <td class="font-weight-bold">{{ match.home_score }}</td>
                        <td class="font-weight-bold">{{ match.home_hits }}</td>
                        <td class="font-weight-bold">{{ match.home_errors }}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{ match.away_team.team_name }}</th>
                        {% for inning in match.inning_set.all %}
                            <td>{{ inning.away_runs }}</td>
                        {% endfor %}
                        <td class="font-weight-bold">{{ match.away_score }}</td>
                        <td class="font-weight-bold">{{ match.away_hits }}</td>
                        <td class="font-weight-bold">{{ match.away_errors }}</td>
                    </tr>
                </table>
            </div>
        </div> 
    </div>
</div>
{% endblock %}