{% extends 'sluggers/base.html' %}

{% block content %}
<div class="card shadow p-4 border rounded-corner mt-5">
    <div class="d-flex flex-horizontal align-items-center">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        {% if user.is_authenticated %}
            <a class="btn btn-primary rounded-corner ml-auto mr-2" href="{% url 'profile:edit' %}">Edit <i class="fa fa-pencil"></i></a>
            <a class="btn btn-primary rounded-corner" href="{% url 'profile:logout' %}">Logout</a>
        {% endif %}
    </div>  
    <h3><i>Administrator</i></h3>
</div>
{% endblock %}